# Ignore version control
.git

# Ignore local node modules (if ever added)
node_modules

# Ignore logs and temp files
*.log
*.tmp

!assets/logo.png

# Ignore editor/project files
*.swp
*.swo
*.bak
.DS_Store
.idea/
.vscode/

# Ignore test and config files (if any)
*.test.js
*.spec.js
coverage/

